<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formula 1.5 / E-Commerce</title>
</head>

<body>
<img th:src="@{/images/logo.png}"/>
<br/>
    <h3>
      Make you choice, <span th:text="${session.loggedUser.name}">USERNAME</span>
    </h3>
    <form method="POST" th:object="${dashboard}">
        <div id="articles">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th>Article</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, itemStat : *{dashboardArticles}">
                    <td>
                        <input
                                type="checkbox"
                                th:field="*{dashboardArticles[__${itemStat.index}__].checked}"
                                th:value="${item.checked}"
                        />
                        <span th:text="${item.cartArticle.article}">ARTICLE</span>
                    </td>
                    <td>
                        <img th:src="${item.article.imageUrl}"/>
                        <span th:text="${item.article.name}">NAME</span>
                        <span th:text="${item.article.description}">DESC</span> |
                        <span th:text="${item.article.price}">PRICE</span>
                        <span th:text="${item.article.currency}">CURRENCY</span>
                    </td>
                    <td>
                        <input  type="number"
                                th:field="*{dashboardArticles[__${itemStat.index}__].cartArticle.quantity}"
                                th:value="${item.cartArticle.quantity}"
                                min="0"
                                th:max="${item.article.availableQuantity}"
                        />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button>Order</button>
    </form>
</body>
</html>