<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Formula 1.5 / E-Commerce</title>
</head>

<body>
<img th:src="@{/images/logo.png}"/>
<br/>
<h3>
  Confirm your order, <span th:text="${session.loggedUser.name}">USERNAME</span>
</h3>

    <form method="POST" th:object="${cartOrder}">
        <div id="articles">
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, itemStat : *{cartArticles}">
                  <td>
                    <span th:text="${item.article}">ARTICLE</span>
                  </td>
                  <td>
                    <span th:text="${item.quantity}">QUANTITY</span>
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button>Confirm</button>
    </form>
</body>
</html>