<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>

<body>
<h1>Sign Up</h1>
<img th:src="@{/images/logo.png}"/>
<br/>
<form method="POST" th:object="${loggedUser}">

    <div class="grid">
        <h3>Enter credentials:</h3>
        <span class="validationError"
              th:if="${loggedUser.authenticationError}"
              th:text="${loggedUser.authenticationError}">Auth Error
        </span>
        <br/>
        <table>
            <tr>
                <td>Username: <input type="text" th:field="*{name}"/></td>
                <td><span class="validationError"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">Name Error
                </span></td>
            </tr>
            <tr>
                <td>Password:
                    <input type="text" th:field="*{password}"/></td>
                <td><span class="validationError"
                          th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}">Password Error
                </span></td>
            </tr>
            <tr>
                <td>EMail:
                    <input type="text" th:field="*{email}"/></td>
                <td><span class="validationError"
                          th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}">EMail Error
                </span></td>
            </tr>
            <tr>
                <td>Phone:
                    <input type="text" th:field="*{phone}"/></td>
                <td><span class="validationError"
                          th:if="${#fields.hasErrors('phone')}"
                          th:errors="*{phone}">EMail Error
                </span></td>
            </tr>
            <tr>
                <td colspan="2"><button>Sign Up</button></td>
            </tr>

        </table>
    </div>

</form>

</body>
</html>
